
*{
    margin: 0cm;
    padding: 0;
    box-sizing: border-box;
   
}

@media  (max-width: 600px){
    .cards {
        flex-direction: column ;
    }
}

@media  (max-width: 600px){
    .footetr {
        flex-direction: column ;
    }
}


/**tamaño header de todos**/

.header {
    height: 3.5rem
    
}
/**main de todos+*/

.main {
    background-color: rgb(112, 118, 145)
}

/**nosotros**/

.main-nos {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "imagen imagen acordion acordion"
        "imagen imagen contacto contacto"
       ;
       
}
.imagen {
    width: 100%;

}
.imagen p {
    font-family: cursive;
    font-size: 2rem;
    flex-direction: center;
    padding-top: 2rem;
}
.phone {
    width: 6rem;
   margin-left: 8rem;
   margin-top: 8rem;
    display: flex;
    justify-content: center;
}



.acordion {
    background-color: rgb(112, 118, 145);
    grid-area: acordion;
}
.accordion-body {

    font-size: x-large


}
.imagen {
    grid-area: imagen;
}


.contacto {
    background-color: rgb(73, 79, 110);
    grid-area: contacto;
   
}
.contacto a {
    text-decoration: none;
    color: black;
    
}

.main-nos h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(2, 8, 37);
    font-size: xx-large;
    display: flex;
    justify-content: center;
    padding: 4rem;

}
.accordion-button {
    background-color:rgb(73, 79, 110);
}

.acordion {
    background-color:rgb(137, 138, 141);
}


/**contacto**/



.main-cont {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
       "info-contacto  flotantes"
       "info-contacto  flotantes"

}


.main-cont h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(2, 8, 37);
    font-size: xx-large;
    padding: 4rem;

}


.flotantes {
    background-color: rgb(112, 118, 145);
    grid-area: flotantes;
}


.info-contacto {
    background-color: black;
    grid-area: info-contacto;
    color: white;
    padding-top: 5rem;
    
}
.contacto-pagina {
    padding: 3rem;
}
    
           
 .reedes {
    display: flex;
    justify-content:end;
    padding-top: 10rem;
    padding-right: 2rem;

 }
.contacto-pagina h1 {
    font-family: cursive;
    font-size: 3rem;
    padding-bottom: 3rem;
 }

.flotantes  h1 {
    font-family: cursive;
    font-size: 4rem;
    padding-bottom: 3rem;

}

.flotantes {
    padding-block-start: 6rem;
}



/** servicios**/

.main-serv {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "imagen imagen promociones promociones"
        "imagen  imagen practicas salidas"
       ;
       
}


.imagen {
    width: 100%;
    background-color: rgb(188, 197, 242);
    grid-area: imagen;

}
.imagen p {
    margin: 1rem;
    padding: 1rem;
}

.promociones {
    background-color: rgb(112, 118, 145);
    grid-area: promociones;
}
.main-serv p {
    font-family: cursive;
    color: rgb(2, 8, 37);
    font-size: xx-large;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.main-serv .imagen {
    width: 100%;
}
.promociones h2 {
    font-family: cursive;
    color: rgb(2, 8, 37);
    font-size: xx-large;
    display: flex;
    justify-content: center;
    padding: 2rem;
    
       
}
.salidas {
    background-color: rgb(73, 79, 110);
    grid-area: salidas;
}
.salidas h2 {
    font-family: cursive;
    color: rgb(2, 8, 37);
    font-size: xx-large;
    display: flex;
    justify-content: center;
    padding: 2rem;
    
}
.practicas {
    background-color: rgb(137, 138, 141);
    grid-area: practicas;
}
.practicas h2 {
    font-family: cursive;
    color: rgb(2, 8, 37);
    font-size: xx-large;
    display: flex;
    justify-content: center;
    padding: 2rem;
    
}






/** bienvenidos encima de carrusel e index**/

.title-sailing{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10rem;
    flex-direction: column;
    
}
.title-sailing h2 {
    font-family: sans-serif;
    font-size: 4rem;
}
.title-sailing h3 {
    font-size: 2rem;
    font-family: cursive;

}


 
.container .item {
    background-color: rgb(36, 38, 48);
    
}
.container * {
    padding: 1rem;
    margin: 1rem;
   
    
}



.main-items {
    background-color: rgb(83, 84, 88);
    padding-top: 2rem;
    display: flex;
    
}


.carousel-item {
    opacity: 75%;

}
.item h2 {
    font-family: cursive;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}



 
/**promociones**/
.main-cards {
    min-height: 100vh;
   
}





.card-info {
    display: grid;
    grid-row: auto;
    padding-left: 1rem;
    

}

.cards {
    display: flex;
    gap: 1rem;

}

.card-img{
    width: 100%;
}


.card{
    flex: 1;
    background-color: rgb(134, 138, 153);
    text-align: center;
    margin: 3rem;
}
.card h4  {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card  p {
    font-size: x-large;
}
.main-cards {
    background-color: rgb(60, 61, 67);
    padding-bottom: 2rem;
   

}
.main-cards h1 {
    color: #151515;
    text-align: center;
    font-family:cursive;
    font-size: 3rem;
    
    
}

.link {
    text-decoration: none;
    font-family: fantasy;
    color:rgb(137, 138, 141);
    font-size: large;
 }
 .item {
    background: rgb(5, 22, 69);
    color: white;

}




/** footer**/

.footer {
    background-color: black;
    padding-top: 2rem;
}



.redes {
    display:flex;
    justify-content: end;   

}
.red-item {
    margin: 1rem;
}
   
.container-inicio  a {
    background-color: rgb(112, 113, 117);
    color: white;
    text-decoration: none;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 2rem;
    
}
.container-inicio {
    display: flex;
    justify-content: flex-end;

}


.footer-main-title{
    color: white;
    padding-top: 18px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.secfooter {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 18px;
}

.secfooter h3 {
    padding:8px;
    font-size:medium;
}




.contact {
    font-size: 2rem;
}

hr {
    width: 40%;
}

