* {
  margin: 0cm;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 3.5rem;
}

.main {
  background-color: rgb(112, 118, 145);
}

.main-cards {
  min-height: 100vh;
  background-color: rgb(60, 61, 67);
  padding-bottom: 2rem;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(2, 8, 37);
  font-size: xx-large;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.cards {
  display: flex;
  gap: 0.5rem;
}
@media screen and (max-width: 870px) {
  .cards {
    flex-direction: column;
  }
  .cards .card {
    flex: 1;
    background-color: rgb(112, 118, 145);
    text-align: center;
    margin: 1rem;
  }
  .cards .card .card-img {
    width: 100%;
  }
  .cards .card .card-img .link {
    text-decoration: none;
    font-family: fantasy;
    color: rgb(112, 118, 145);
    font-size: large;
  }
  .cards .card .card h4 {
    font-family: cursive;
    color: rgb(2, 8, 37);
    font-size: x-large;
    display: flex;
    justify-content: center;
  }
  .cards .card .card p {
    font-family: cursive;
    color: rgb(2, 8, 37);
    font-size: large;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
}

.footer {
  background-color: black;
  padding-top: 2rem;
}
.footer .secfooter {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 18px;
}
.footer .secfooter .secfooter h3 {
  padding: 8px;
  font-size: small;
}
.footer .secfooter .contact {
  font-size: 1.6rem;
}
.footer .secfooter hr {
  width: 40%;
}
.footer .container-inicio {
  display: flex;
  justify-content: flex-end;
}
.footer .container-inicio .container-inicio a {
  background-color: rgb(112, 118, 145);
  color: white;
  text-decoration: none;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 2rem;
}
.footer .container-inicio .redes {
  display: flex;
  justify-content: end;
}
.footer .container-inicio .redes .red-item {
  margin: 1rem;
}

.main-cont {
  min-height: 100vh;
  display: flex;
  background-color: rgb(83, 84, 88);
}
@media screen and (max-width: 870px) {
  .main-cont {
    flex-direction: column;
  }
}
.main-cont .info-contacto {
  background-color: black;
  padding-top: 5rem;
  margin: 2rem;
  width: 80vh;
}
.main-cont .info-contacto .contacto-pagina {
  padding: 3rem;
  color: white;
}
.main-cont .info-contacto .contacto-pagina h1 {
  font-family: cursive;
  font-size: 3rem;
  padding-bottom: 3rem;
  color: white;
}
.main-cont .info-contacto .contacto-pagina h3 {
  font-family: cursive;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}
.main-cont .info-contacto .reedes {
  display: flex;
  justify-content: end;
  padding-top: 10rem;
  padding-right: 2rem;
}
.main-cont .flotantes {
  width: 80vh;
  margin: 2rem;
  background-color: rgb(112, 118, 145);
  -webkit-padding-before: 6rem;
          padding-block-start: 6rem;
}
@media screen and (max-width: 870px) {
  .main-cont .flotantes {
    flex-direction: column;
  }
  .main-cont .flotantes h2 {
    font-family: cursive;
    font-size: 3rem;
    padding-bottom: 3rem;
    color: rgb(2, 8, 37);
  }
}

.main-nos {
  background-color: rgb(112, 118, 145);
  display: flex;
  gap: 0.5rem;
}
@media screen and (max-width: 870px) {
  .main-nos {
    flex-direction: column;
  }
}
.main-nos .tarjeta {
  margin: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.main-nos .imagenn {
  margin: 1rem;
  background-color: rgb(112, 118, 145);
}
.main-nos .imagenn h2 {
  font-family: cursive;
  color: rgb(2, 8, 37);
  font-size: xx-large;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.main-nos .imagenn p {
  font-family: cursive;
  font-size: 1rem;
  flex-direction: center;
  padding: 2rem;
}
.main-nos .acordion {
  background-color: rgb(112, 118, 145);
  width: 100%;
}
.main-nos .acordion .accordion-body {
  font-size: large;
}
.main-nos .acordion .accordion-button {
  background-color: rgb(83, 84, 88);
}
.main-nos .contacto {
  background-color: rgb(60, 61, 67);
}
.main-nos .contacto a {
  text-decoration: none;
  color: black;
}
.main-nos .contacto a .phone {
  width: 3rem;
  margin-left: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.main-serv {
  min-height: 100vh; /**
display: grid;
grid-template-columns: 1fr 1fr ;
grid-template-rows:  1fr 1fr ;**/
  background-color: rgb(60, 61, 67);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 4rem;
  /*grid-template-areas: 

   "salidas promociones"
   " imagen practicas" ; */
}
@media screen and (max-width: 870px) {
  .main-serv {
    flex-direction: column;
  }
}
.main-serv .tarjeta {
  margin: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.main-serv h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(2, 8, 37);
  font-size: x-large;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.main-serv p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(2, 8, 37);
  font-size: medium;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.main-serv .imagen {
  background-color: rgb(112, 118, 145);
  grid-area: imagen;
}
.main-serv .practicas {
  background-color: rgb(112, 118, 145);
  grid-area: practicas;
}
.main-serv .promociones {
  background-color: rgb(112, 118, 145);
  grid-area: promociones;
}
.main-serv .salidas {
  background-color: rgb(112, 118, 145);
  grid-area: salidas;
}

.carousel-item {
  opacity: 75%;
  width: 100%;
}

.title-sailing {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 2rem;
  margin-left: 2rem;
  flex-direction: column;
}
.title-sailing .title-sailing h2 {
  font-family: sans-serif;
  font-size: xx-large;
}
.title-sailing .title-sailing h3 {
  font-size: xx-large;
  font-family: cursive;
}

.main-items {
  background-color: rgb(2, 8, 37);
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
@media screen and (max-width: 870px) {
  .main-items {
    flex-direction: column;
  }
}
.main-items .item {
  display: flex;
  flex-direction: row;
  background-color: rgb(112, 118, 145);
  text-align: center;
  margin: 3rem;
  padding: 3rem;
}
.main-items .item h2 {
  font-family: cursive;
  font-size: 1rem;
  color: white;
}/*# sourceMappingURL=estilos.css.map */