.main-cont {
    min-height: 100vh;
    display: flex;
       @include mobile {
        flex-direction: column;
    } 

    .info-contacto {
        background-color: black;
        color: white;
        padding-top: 5rem;
        margin: 1rem;
        width: 80vh;
        .contacto-pagina {
            padding: 3rem;
          
            h1 {
                font-family: cursive;
                font-size: 1.5rem;
                padding-bottom: 2rem;
               
             }
             h3 {
                font-family: cursive;
                font-size: 1.5rem;
                padding-bottom: 2rem;
                
             }
        }
        .reedes {
            display: flex;
            justify-content:end;
            padding-top: 10rem;
            padding-right: 2rem;
        
         }
        
    }
    
     .flotantes {
        width:80vh;
        margin: 1rem;
        background-color: $colorUno;
        padding-block-start: 6rem;
        @include mobile {
            flex-direction:column ;
            h2 {
                font-family: cursive;
                font-size: 3rem;
                padding-bottom: 3rem;
                color: $coloroscuro;
    
            
            }
        }
        
       
       
    }
    
      

}
         
