.main {
    background-color: $colorUno;

}

.main-cards {
    min-height: 100vh;
    background-color: $colorTres;
    padding-bottom: 2rem;
    h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: $coloroscuro;
        font-size: xx-large;
        display: flex;
        justify-content: center;
        padding: 2rem;
    }
   
    .cards {
        display: flex;
        gap: 0.5rem;
        @include mobile {
            flex-direction: column;
        }
         
        .card{
            flex: 1;
            background-color: $colorUno;
            text-align: center;
            margin: 1rem;
        
            .card-img{
                 width: 100%;
            }

            h4  {
                font-family: cursive;
                color: $coloroscuro;
                font-size: x-large;
                display: flex;
                justify-content: center;
            }

            p {
                font-family: cursive;
                color: $coloroscuro;
                font-size:large;
                display: flex;
                justify-content: center;
                padding: 2rem;
                
            }
            .link {
                text-decoration: none;
                font-family: fantasy;
                color:$colorUno;
                font-size: large;

            }


        }
    
    }

   
    }
    