.main-serv {
    min-height: 100vh;/**
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows:  1fr 1fr ;**/
    background-color: $colorTres;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 4rem;
    
    /*grid-template-areas: 
   
     "salidas promociones"
     " imagen practicas" ; */
     @include mobile {
        flex-direction: column;
    }
    
     .tarjeta {
        margin: 2rem;
        padding: 1rem;
        border-radius: 0.5rem;
    }

        h2 {
            font-family:Arial, Helvetica, sans-serif;
            color: $coloroscuro;
            font-size: x-large;
            display: flex;
            justify-content: center;
            padding: 2rem;
            
        }
        p {
            font-family: Arial, Helvetica, sans-serif;
            color: $coloroscuro;
            font-size: medium;
            display: flex;
            justify-content: center;
            padding: 2rem;
            
        }
      
        .imagen {
            background-color:$colorUno;
            grid-area: imagen;
           
           
        }
        .practicas {
            background-color: $colorUno;
            grid-area: practicas;
           
        }
        .promociones {
            background-color: $colorUno;
            grid-area: promociones;
           
        }
        .salidas {
            background-color: $colorUno;
            grid-area: salidas;
           
        }

    
       
}