.main-nos {
        background-color:$colorUno ;
        display:flex;
        gap: 0.5rem;
        @include mobile {
            flex-direction: column;
        } 
        .tarjeta {
            margin: 2rem;
            padding: 1rem;
            border-radius: 0.5rem;
        }

        .imagenn {
            margin: 1rem;
            background-color: $colorUno;
            h1  {
                font-family: cursive;
                color: $coloroscuro;
                font-size: xx-large;
                display: flex;
                justify-content: center;
                padding: 2rem;
                }
                p {
                    font-family: cursive;
                    font-size: 1rem;
                    flex-direction: center;
                    padding: 2rem;
                   
                }
        
        }
        
        .acordion {
            background-color: $colorUno;
            width: 100%;
            .accordion-body {
        
                font-size:large
        
            }
            .accordion-button {
                background-color:$colorDos;
            }
           
        }
        .contacto {
            background-color: $colorTres;
            a {
                text-decoration: none;
                color: black;
                .phone {
                    width: 3rem;
                    margin-left: 2rem;
                    margin-top: 2rem;
                    display: flex;
                    justify-content: center;
                }
            }
           
        }
}



