.main-nos {
        background-color:$colorUno ;
        display: flex;
        gap: 0.5rem;
        .imagenn {
            grid-area: imagenn;
            margin: 1rem;
            background-color: $coloruno;
            h2  {
                font-family: cursive;
                color: $colorOscuro;
                font-size: xx-large;
                display: flex;
                justify-content: center;
                padding: 2rem;
                }
                p {
                    font-family: cursive;
                    font-size: 1rem;
                    flex-direction: center;
                    padding: 2rem;
                   
                }
        
        }
        
        .acordion {
            background-color: $colorUno;
            grid-area: acordion;
            width: 100%;
            .accordion-body {
        
                font-size:large
        
            }
            .accordion-button {
                background-color:$colorDos;
            }
           
        }
        .contacto {
            background-color: $colorUno;
            grid-area: contacto;
            a {
                text-decoration: none;
                color: black;
                .phone {
                    width: 3rem;
                    margin-left: 2rem;
                    margin-top: 2rem;
                    display: flex;
                    justify-content: center;
                }
            }
           
        }
}



